.loginbox{
    border: 2px solid #ddd;
}
.a-btn{
    color: #000; font-weight: 500;
}
.btn-warning{
    color:#000;
}
.err-msg{
    font-weight:500;
    font-size:12px;
    color:#ef7c7c;
    text-transform:capitalize
}
.btn-block {
    border-radius: 30px;
    color: #ddd;
    background-color: #173452;
    border: 2px solid #ddd;
    box-shadow: 0 2px 20px #000;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0 auto;
    padding: 4px 0;
}

 .form-control {
    background-color: transparent;
    width: 100%;
    transition: none;
    display: inline-block;
    line-height: 1.5;
    text-align: center;
    border-radius: 30px!important;
}

.card-body {
    padding: 0.25rem;
    display: block;
    margin-left: 20%;
    margin-right: 20%;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 50%;
    margin-left: 26%;
    margin-top: 10%;
    background-color: aliceblue;

  }
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  .container {
    padding: 2px 16px;
  }