<section class="sidebar" style="height: auto;">
    <div class="left-sidenav">
        <div class="sidebar">	
            <div class="menu">
                <a class="waves-effect waves-dark" id="menu-bar">
                    <span>HOME PAGE</span>
                </a>
                <a  [routerLink]="['dashboard']" routerLinkActive="active" class="waves-effect waves-dark" >
                    <span>DASHBOARD</span>
                </a>
                <a  [routerLink]="['aboutus']" routerLinkActive="active" class="waves-effect waves-dark" >
                    <span>ABOUT US</span>
                </a>
            </div>
        </div> 
    </div>
</section>
