.btn-close{
    border-radius:2px;
    border:0;
    background-color:transparent
}

.btn-edit{
    background-color:transparent;
    text-transform:uppercase;
    line-height:1.2;
    color:#183552;
    font-weight:500;
    width:100%;
    border:0
}
.sidebar .menu a{
    text-decoration:none;
    color:#000;
    display:block;
    transition:.3s;
    text-transform:uppercase;
    font-weight:500;
    text-align:center;
    background-color:#8795a9;
    box-shadow:0 4px 8px #444;
    margin-bottom:4px
}
.sidebar .menu a.active,.sidebar .menu a:active{
    background-color:#183552;
    color:#fff
}
.left-sidenav{
    background-color:rgba(255,255,255,1)
}
#menu-bar{
    background-color: steelblue
}
