<app-header></app-header>
<br>

<div class="row">
    <div class="col-3">
        <div class="card">
            <div class="card-body">
                <app-left-siderbar></app-left-siderbar>
            </div>
        </div>
    </div>
    <div class="col-9">
        <div class="card">
            <div class="card-body">
                <section class="content">
                    <router-outlet></router-outlet>
                </section>
            </div>
        </div>
    </div>
</div>
<br>
<app-footer></app-footer>