<section class="content-header">
    <ol class="breadcrumb">
        <li><a href="/hompage/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>>
        <li class="active">About Us</li>
    </ol>
</section>
<section class="content">
        <div class="box-body">
        <div class="row">
            <div class="col-md-12">
            <div class="col-md-3 update_prof_left" style="min-height: 270px;">
                <div class="img-container abt_img_container">
                <img src="./../../../assets/image/logo_software.png" class="img-thumbnail" alt="About Software" style="height: 235px;width:100%;">
                </div>
            </div>
            <div class="col-md-12">
                <p class="abt_us_p">This software was designed for XYZ purpose only. This system can
                be able to speed-up the proccess of borrowing of ABC system.</p>
            </div>
            </div>
        </div>
        </div>
</section>